.app-header {
    background-color: var(--clr1);
    color: var(--clr1bg);
    padding: 1em;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.app-header h1 {
    text-align: center;
    color: black;
    font-size: 2em;
}

.app-header a {
    margin-inline: 2em;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

@media (max-width: 720px) {
    .app-header {
        color: var(--clr2bg);
    }
}
