.book-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.book-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;

    max-width: 350px;
    margin: 0.5em;
    padding: 1em;
    border-radius: 15px;

    list-style: none;
    background-color: var(--clr1);
}

.book-card > * {
    text-align: center;
}

.google-book-list {
    display: flex;
    flex-direction: column;
    width: max-content;
    list-style: none;
}

.google-book-li .book-info {
    display: flex;
    align-items: center;
    padding: 2px;
    border-bottom: 1px solid black;
}

.google-book-li h1 {
    margin-right: 10px;
}

.book-info > button {
    margin-inline-start: auto;
}

@media (max-width: 720px) {
    .book-list {
        display: grid;
        grid-template-columns: 300px;
        justify-content: center;
    }
}
